<mat-card class="sample-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Tip Predictor</h2>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Linear_regression.svg/2000px-Linear_regression.svg.png"
    alt="Linear Regression">
  <mat-card-content>
    <p>
      This is a very basic application showing how to train a very basic model using Deeplearn.js. A small sample of bill (independent
      variable) and tip (dependent variable) is used to predict the tip for a new bill.
    </p>
  </mat-card-content>
  <mat-chip-list>
    <mat-chip>Linear Regression</mat-chip>
  </mat-chip-list>
  <mat-card-actions>
    <a mat-button routerLink="../samples/tip-predictor">Go</a>
  </mat-card-actions>
</mat-card>
