<mat-card class="sample-card">
  <mat-card-header>
    <mat-card-title>
      <h3>Evaluate</h3>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="options" (ngSubmit)="evaluate()">

      <mat-form-field>
        <input formControlName="bill" required type="number" matInput placeholder="Enter Bill">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="tip" matInput placeholder="Predicted Tip">
      </mat-form-field>

      <button [disabled]="!options.valid" type="submit" mat-raised-button color="primary">Run</button>

    </form>

  </mat-card-content>

</mat-card>
